.nested-fields.clearfix.stress-track-fields
  .row
    = f.input :id, as: :hidden
    .col-md-3
      = f.input :name, label: false
    .col-md-3
      = f.input :skill_id, collection: Skill.from_skill_group(params[:skill_group_id] || SkillGroup::FATE_CORE).sort_by{ |s| s.name }, label: false
    .col-md-6
      = link_to_add_association "", f, :stress_levels, partial: "shared/stress_level_fields", data: { :'association-insertion-node' => "#form__stress-track-#{f.object.id}", :'association-insertion-method' => :append }, class: "stress-box__link-to-add"
      %ul.list-inline.form__stress-track{ id: "form__stress-track-#{f.object.id}" }
        = f.fields_for :stress_levels, f.object.stress_levels.any? ? f.object.stress_levels : levels.map{ |l| StressLevel.new(l) } do |l|
          = render "shared/stress_level_fields", f: l
    = link_to_remove_association f do
      .fa.fa-times
